PORT=3001
NODE_ENV=development

# MongoDB - Local development
MONGODB_URI=mongodb://localhost:27017/appointment-service

# Service URLs (for local development)
PATIENT_SERVICE_URL=http://localhost:3002
DOCTOR_SERVICE_URL=http://localhost:3003
NOTIFICATION_SERVICE_URL=http://localhost:3002

# Docker flag
DOCKER_ENV=false
