**/node_modules
**/.git
**/.env
**/.env.*
!**/.env.example
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.log
**/coverage
**/.nyc_output
**/.cache
**/dist
**/build
**/*.test.js
**/*.spec.js
**/test/
**/tests/
**/__tests__/
**/docker-compose*.yml
**/.vscode
**/.idea
**/tmp_*
